includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
parameters:
	checkMissingIterableValueType: false
	paths:
		- ../../src
	dynamicConstantNames:
		- _PS_VERSION_
	level: 8
