includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
parameters:
	paths:
		- ../../src
	dynamicConstantNames:
		- _PS_VERSION_
	reportUnmatchedIgnoredErrors: true
	level: 5
